

/**************  File to the media Queries ***************/


  @media(min-width:768px) and (max-width:1024px) {

    #no-task img{
      width: 25%;
      height: 25%;
    }

  }


  @media(min-width:480px) and (max-width:768px) {

    #no-task img{
      width: 35%;
    }

    .card .card-content .card-title{
      font-size: 16px !important;
    }

    .picker--opened{
      z-index: 3;
    }

  }


  @media (max-width: 480px){

  	.card .card-content .card-title{
  		font-size: 17px !important;
  	}

    form .row .input-field:nth-of-type(2){
      margin-top: 2rem;
    }

    #no-task img{
      width: 50%;
    }

    #requestStart p{
      background-position-x: 105px !important;
    }

    .h1-resized h1 {
      font-size: 2em !important;
    }

    .picker--opened{
      z-index: 3;
    }
  }