
  @font-face {
    font-family: 'Lato';
    src: url(font/lato/Lato-Hairline.ttf);
}


html, body {
    height: 100%;
}

html, .navbar-fixed nav{
  min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 100;
    font-family: 'Lato';
}

main {
    flex: 1 0 auto;
    position: relative;
    right: 0%;
    overflow-x: hidden;
    padding: 0 10px 0 10px;
  }

main::-webkit-scrollbar{
    width: 8px;
    background-color: #3498db;
}

main::-webkit-scrollbar-thumb{
	background: #000;
}

  body::-webkit-scrollbar {
      width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #3498db;
    outline: 1px solid #000#;
  }



.container-space > .row::-webkit-scrollbar{
  width: 3px;
  background-color: #3498db;
}

.container-space > .row::-webkit-scrollbar-thumb{
  background: #000;
}

nav, footer{
	background-color: #3498db !important;
}

.h1-resized h1{
  font-size: 2.2em !important;
  margin: 10px 0 0 0;
}

#no-task img{
  width: 25%;
}

 /******** Menu icône ********/

 div[class="border-menu"]{
 	margin: 22px 0 0 15px;
 }

.border-menu div{
    width: 35px;
    height: 1px;
    background-color: #000;
    margin: 6px 0;
}

#requestStart, #alarme{
    width: 100%;
    height: 95px;
    background: #00daff;
    display: table;
    position: absolute;
    z-index: 997;
    color: #fff;
    font-size: 15px;
    margin-left: -9px;
}

#alarme{
  display: none;
}

#requestStart p, #alarme p{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

#requestStart p{
    background: url(../img/hourglass.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: 150px;
  }

#alarme p{
  font-size: 25px !important;
  -webkit-animation: blinker 1s linear infinite;
  transition-duration: 0.2s;
}


.card-action{
  padding: 0px !important;
  display: table;
  width: 100%;
  margin-top: 30px;
}

.card-action a{
  width: 50% !important;
  padding: 0;
  margin: -1px !important;
  height: 45px;
  text-transform: none !important;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
}

.card-action button{
  width: 100% !important;
  padding: 0;
  height: 100%;
  text-transform: none !important;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: #000 !important;
  box-shadow: none;
}

.card-action button:hover{
  box-shadow: none;
}

.card-action button{
  border-right: 1px solid;
}

.card-action button:hover{
  background-color: #00acc1 !important;
}

.card-action a:hover{
  background-color: #f44336 !important;
}

.card-content{
  min-height: 190px;
  padding: 10px 0 0 10px !important;
}

.input-field label {
    left: 43%;
    position: initial !important;
    display: block;
    margin-top: -44px;
}

.picker__calendar-container{
  font-family: "Roboto", sans-serif !important;
}

form input, #search{
  text-align: center;
  font-family: cursive;
}


        /*   Content transition */


.view-animate-container {
  /*background:white;
  overflow:hidden;*/
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.affect-task{
    height: 30px;
    width: 100%;
    background: #3F51B5;
    position: relative;
    bottom: 0;
    z-index: 5;
    display: none;
    top: -44px;
  }

.affect-task p{
  width: 100%;
  margin: 0 !important;
  height: 100%;
  padding-top: 3px;
}
.affect-task p label{
  color: #FFF !important;
}

.simple-input{
  position: inherit !important;
  visibility: visible !important;
  border: 2px solid #26a69a;
  z-index: 0;
  transition: 0.28s ease;
  margin-right: 5px;
}

 /************* Menu transition ***********/


 .animate-hide {
    transition: all linear 1s;
    opacity: 1;
}

.animate-hide.ng-hide {
  width: 0px !important;
  opacity: 0;
}

.animate-hide.ng-show {
  width: 215px;
  opacity: 1;
}

.task.removed {
  max-height: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.container-space .row{
  width: 100%;
 /* overflow-x: scroll;*/
  overflow-y: scroll;
  height: 205px;
}

.card:hover{
  background-color: #02d18e !important;
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

h5{
  padding: 5px;
}

.card-title{
    line-height: 25px !important;
    font-size: 20px !important;
}

.card-content p{
  position: absolute !important;
  bottom: 10% !important;
}


 /************* Menu style ***********/

.side-nav {
    background-color: #262e35 !important;
}

  nav ul:first-of-type li{
  	display: inline-block;
  	background-color: #262e35;
  	width: 215px;
  	text-align: center;
  	height: 100%;
  }

  nav ul:first-of-type{
  	height: 100% !important;
  }

  nav ul:first-of-type li:nth-of-type(1){
    border-left: 3px solid #e74c3c;
  } 

  nav ul:first-of-type li:nth-of-type(2){
    border-left: 3px solid #0fa5a5;
  }

   nav ul:first-of-type li:nth-of-type(3){
  	border-left: 3px solid #04a5d2;
  } 


  /*********  :Hover **************/

   nav ul:first-of-type li:nth-of-type(1):hover{
    background-color: #e74c3c;
    transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
  } 

  nav ul:first-of-type li:nth-of-type(2):hover{
    background-color: #0fa5a5;
    transition: background-color 0.4s linear;
    -webkit-transition: background-color 0.4s linear;
  }

   nav ul:first-of-type li:nth-of-type(3):hover{
  	background-color: #04a5d2;
  	transition: background-color 0.4s linear;
  	-webkit-transition: background-color 0.4s linear;
  } 


/************* Menu style Mobile***********/

  .side-nav li{
  	float: left !important;
  }

   .side-nav a{
  	height: 100%;
  	color: #FFF;
  }
  
  nav ul:last-of-type li{
  	display: inline-block;
  	background-color: #262e35;
  	width: 100%;
  	text-align: center;
  	height: 65px;
  }

  nav ul:last-of-type{
  	height: 100% !important;
  }

  nav ul:last-of-type li:nth-of-type(1){
  	border-left: 3px solid #e74c3c;
  } 

  nav ul:last-of-type li:nth-of-type(2){
    border-left: 3px solid #0fa5a5;
  } 

  nav ul:last-of-type li:nth-of-type(3){
    border-left: 3px solid #04a5d2;
  } 


  /*********  :Hover **************/

   nav ul:last-of-type li:nth-of-type(1):hover{
    background-color: #e74c3c;
  }

  nav ul:last-of-type li:nth-of-type(2):hover{
    background-color: #0fa5a5;
  }

  nav ul:last-of-type li:nth-of-type(3):hover{
  	background-color: #04a5d2;
  } 


/***************** KeyFrames *********************/


@-webkit-keyframes blinker {  
  50% { opacity: 0.0; }
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}