
<div class="row">
		<div class="col s12 center-align  h1-resized">
			<h1>Création d'une tâche</h1>
		</div>
	</div>


	<div class="row">
    <form class="col s12 center-align" ng-submit="createTask()" novalidate="novalidate">
      <div class="row">
        <div class="input-field col s12 m6 l4 offset-l2">
          <input id="name" type="text" ng-model="newTask.name" class="validate" autofocus="autofocus" autocomplete="off" maxlength="65">
          <label for="name">Titre de la tâche</label>
        </div>
        <div class="input-field col s12 m6 l4 ">
          <input ng-date-picker id="date" type="text" class="datepicker" ng-model="newTask.date">
          <label for="date">Date</label>
        </div>
        <div class="input-field col s12 m6 l4 offset-l4 offset-m3">
          <input id="hour" type="time" ng-model="newTask.hour">
          <label for="hour"></label>
        </div>
      </div>

       <div class="row">
        <div class="input-field col s12 center-align">
		      <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="!checkNew()">Enregistrer
		  </button>
  		</div>
  </div>

    </form>
  </div>