

<div class="row">
		<div class="col s12 center-align  h1-resized">
			<h1> Liste des tâches </h1>
		</div>
</div><br>


<div class="container-space" ng-if="taches['noneffectuee'].length > 0">
<h5 class="center-align red white-text"> ({{taches['noneffectuee'].length}}) Non effectuée(s) </h5>
  <div class="row">
        <div class="col s12 m4 l4" ng-repeat="tache in taches['noneffectuee']" id="{{tache.id}}" >
        <a ng-href="/#/modifier/{{tache.name | slugFilter }}" ng-show-me>
            <div class="card {{tache.timeStamp.couleur}}">
              <div class="card-content white-text">
                <span class="card-title">{{tache.name}}</span>
                <p>à faire le: {{tache.date | date : 'dd/MM/yyyy' }}<br>
                à: <b ng-show="!tache.hourJS">{{tache.hour}}</b>
                <b ng-show="tache.hourJS">{{tache.hourJS}}</b>
                </p>

              </div>
            </div>
            </a>
              <div id="{{tache.id}}-affect" class=" affect-task center-align">
                <p class="white-text">
                  <input class="simple-input" type="radio" id="{{tache.id}}" name="Eff" ng-model="Eff" ng-value="{{tache.id}}" ng-change="effectuee(tache.id)">Effectuée ?
                   
                </p>
          </div>
          </div>
  </div>
</div>


<div class="container-space" ng-if="taches['aujourdhui'].length > 0">
<h5 class="center-align orange accent-3 white-text"> ({{taches['aujourdhui'].length}}) Aujourd'hui </h5>
  <div class="row">
        <div class="col s12 m4 l4" ng-repeat="tache in taches['aujourdhui']" id="{{tache.id}}">
        <a ng-href="/#/modifier/{{tache.name | slugFilter }}" ng-show-me>
            <div class="card {{tache.timeStamp.couleur}}">
              <div class="card-content white-text">
                <span class="card-title">{{tache.name}}</span>
                <p>à faire le: {{tache.date | date : 'dd/MM/yyyy' }}<br>
                à: <b ng-show="!tache.hourJS">{{tache.hour}}</b>
                <b ng-show="tache.hourJS">{{tache.hourJS}}</b>
                </p>
              </div>
              
            </div>
            </a>
            <div id="{{tache.id}}-affect" class=" affect-task center-align">
                <p class="white-text">
                  <input class="simple-input" type="radio" id="{{tache.id}}" name="Eff" ng-model="Eff" ng-value="{{tache.id}}" ng-change="effectuee(tache.id)">Effectuée ?
                   
                </p>
          </div>
          </div>
  </div>
</div>

<div class="container-space" ng-if="taches['demain'].length > 0">
<h5 class="center-align light-blue darken-1 white-text"> ({{taches['demain'].length}})Demain </h5>
  <div class="row">
        <div class="col s12 m4 l4" ng-repeat="tache in taches['demain']" id="{{tache.id}}">
        <a ng-href="/#/modifier/{{tache.name | slugFilter }}" ng-show-me>
            <div class="card {{tache.timeStamp.couleur}}">
              <div class="card-content white-text">
                <span class="card-title">{{tache.name}}</span>
                <p>à faire le: {{tache.date | date : 'dd/MM/yyyy' }}<br>
                à: <b ng-show="!tache.hourJS">{{tache.hour}}</b>
                <b ng-show="tache.hourJS">{{tache.hourJS}}</b>
                </p>
              </div>
              
            </div>
            </a>
            <div id="{{tache.id}}-affect" class=" affect-task center-align">
               <p class="white-text">
                  <input class="simple-input" type="radio" id="{{tache.id}}" name="Eff" ng-model="Eff" ng-value="{{tache.id}}" ng-change="effectuee(tache.id)">Effectuée ?
                   
                </p>
          </div>
          </div>
  </div>
</div>


<div class="container-space" ng-if="taches['cettesemaine'].length > 0">
<h5 class="center-align light-blue darken-1 white-text"> ({{taches['cettesemaine'].length}}) Cette semaine </h5>
  <div class="row">
        <div class="col s12 m4 l4" ng-repeat="tache in taches['cettesemaine']" id="{{tache.id}}">
        <a ng-href="/#/modifier/{{tache.name | slugFilter }}" ng-show-me>
            <div class="card {{tache.timeStamp.couleur}}">
              <div class="card-content white-text">
                <span class="card-title">{{tache.name}}</span>
                <p>à faire le: {{tache.date | date : 'dd/MM/yyyy' }}<br>
                à: <b ng-show="!tache.hourJS">{{tache.hour}}</b>
                <b ng-show="tache.hourJS">{{tache.hourJS}}</b>
                </p>
              </div>
            </div>
          </a>
          <div id="{{tache.id}}-affect" class=" affect-task center-align">
                <p class="white-text">
                  <input class="simple-input" type="radio" id="{{tache.id}}" name="Eff" ng-model="Eff" ng-value="{{tache.id}}" ng-change="effectuee(tache.id)">Effectuée ?
                   
                </p>
          </div>
          </div>
  </div>
</div>

<div class="container-space" ng-if="taches['semaineprochaine'].length > 0">

<h5 class="center-align light-blue darken-1 white-text"> ({{taches['semaineprochaine'].length}}) Semaine prochaine et plus</h5>
  <div class="row">
        <div class="col s12 m4 l4" ng-repeat="tache in taches['semaineprochaine']" id="{{tache.id}}">
      <a ng-href="/#/modifier/{{tache.name | slugFilter }}" ng-show-me >
            <div class="card {{tache.timeStamp.couleur}}">
              <div class="card-content white-text">
                <span class="card-title">{{tache.name}}</span>
                <p>à faire le: {{tache.date | date : 'dd/MM/yyyy' }}<br>
                à: <b ng-show="!tache.hourJS">{{tache.hour}}</b>
                <b ng-show="tache.hourJS">{{tache.hourJS}}</b>
                </p>
              </div>
            </div>
        </a>
        <div id="{{tache.id}}-affect" class=" affect-task center-align">
                <p class="white-text">
                  <input class="simple-input" type="radio" id="{{tache.id}}" name="Eff" ng-model="Eff" ng-value="{{tache.id}}" ng-change="effectuee(tache.id)">Effectuée ?
                   
                </p>
          </div>
      </div>
  </div>
</div>

<div id="no-task" class="center-align" ng-hide="taches">
  <img src="img/vacances.png">
</div>
