

<div class="row">
		<div class="col s12 center-align  h1-resized">
			<h1>Modification d'une tâche</h1>
		</div>
	</div>

	<div class="row">
    <form class="col s12 center-align" ng-submit="updateTask()" novalidate="novalidate">
      <div class="row">
        <div class="input-field col s12 m6 l4 offset-l2">
          <input id="name" type="text" ng-model="modifiedTask.name" class="validate" autofocus="autofocus" autocomplete="off" maxlength="65">
         <!--  <label for="name">Titre de la tâche</label> -->
        </div>
        <div class="input-field col s12 m6 l4 ">
          <input ng-date-picker id="date" type="text" class="datepicker" ng-model="modifiedTask.date">
          <!-- <label for="date">Date</label> -->
        </div>
        <div class="input-field col s12 m6 l4 offset-l4 offset-m3">
          <input id="hour" type="text" ng-model="modifiedTask.hour" value="modifiedTask.hour">
          <label for="hour"></label>
        </div>
      </div>

       <div class="row">

       <div class="card-action black white-text input-field col s12 center-align">
            <button class="btn" type="submit" name="action" ng-disabled="!check()" ng-disabled="!check()">Enregistrer
            </button>
            <a href="#/" ng-click="deleteTask(modifiedTask.id)">Supprimer</a>
          </div>
      </div>

    </form>
  </div>