

	<div class="row">
		<div class="col s12 center-align h1-resized">
			<h1>Rechercher une tâche</h1>
		</div>
	</div>
	<div class="row">
        <div class="col l8 s12 m10 offset-l2 offset-m1 input-field center-align">
        <input id="search" type="text" ng-search-input ng-change="search()" ng-model="searchKey">
          <label for="search">Entrez un mot clé</label>
        </div>
    </div>

  <div class="container-space" ng-if="tachesTrouvees.length > 0">
  <div class="row">
        <div class="col s12 m4 l4" ng-repeat="tache in tachesTrouvees " id="{{tache.id}}" >
        <a ng-href="/#/modifier/{{tache.name | slugFilter }}">
            <div class="card {{tache.timeStamp.couleur}}">
              <div class="card-content white-text">
                <span class="card-title">{{tache.name}}</span>
                <p>à faire le: {{tache.date | date : 'dd/MM/yyyy' }}<br>
                à: <b ng-show="!tache.hourJS">{{tache.hour}}</b>
                <b ng-show="tache.hourJS">{{tache.hourJS}}</b>
                </p>
              </div>
            </div>
            </a>
          </div>

  </div>
</div>


	<div id="no-task" class="center-align" ng-hide="tachesTrouvees">
  <img src="img/vacances.png">
</div>